.row{
    margin: 10px 0px 10px 50px;
}

body{
    background-color: #ECECEC;
}

.navbar-inverse{
    background-color: #4285f4;
    font-size: 16px;
}

#conteneurFooter{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*color: #b2dbfb;*/
    color: #ffffff;
}

.navbar-fixed-bottom{
    min-height: 44px;
    background-color: #8e8e8e;
}

.row.separate-field{
    margin: 0px 0px 0px 0px;
    border-top: 2px solid #8e8e8e;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th{
    text-align: center;
}

.first-row{
    margin: 85px auto 55px;
    max-width: 1000px;
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: -5px 0px 5px -5px #9b9b9b;
    -moz-box-shadow: -5px 0px 5px -5px #9b9b9b;
    box-shadow: -5px 0px 5px -5px #9b9b9b;
}

select{
    width: 182px;
    height:36px;
}

.checkbox{
    margin-left: 30px;
}

.circle-buttons{
    /*visibility: hidden;*/
}

.circle-button{
    height: 56px;
    width: 56px;
    -webkit-border-radius:28px;
    -moz-border-radius:28px;
    border-radius:28px;
    position: fixed;
    bottom: 60px;
    right: 24px;
    margin-top: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.circle-button>span{
    color: #ffffff;
    left: 15px;
    top: 16px;
    font-size: 1.8em;
}

.circle-button:hover{
     height: 60px;
     width: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    position: fixed;
    /*bottom: 58px;*/
    right: 22px;
}

.circle-button:hover>span {
    left: 16px;
    top: 17px;
    font-size: 1.9em;
}

.red{
    background-color: #d90800;
    visibility: hidden;
}

.green {
    background-color: #16a103;
    /*bottom: 130px;*/
    visibility: hidden;
}

.green:hover{
    bottom: 128px;
}